*{
    font-family: "Trebuchet MS";
}
h1{
    text-align: center;
}
body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    color:black ;
    background: whitesmoke;
}
header{
    background: cadetblue;
}
form{
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    width: 400px;
    text-align: center;
    background: coral;
    padding: 15px;
    margin-left: 520px;
}

input{
    color: black;
}